{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src"
        }
      }
    ]
  ]
}

//   import * from '@/app' >>> import * from './src/app'
// shift - alt - F  >>> format code